/* html{
    font-size: 62.5%;
} */

.fonts{
    font-family: 'Montserrat', Arial, Helvetica;
    /* font-size: 1.6rem; */
}

.container{
    margin-top: 40px;
}

.table{
    margin-top: 60px;
}

.titulo_pequeno{
    font-weight: 800;
}